<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>result</key>
	<dict>
		<key>geometry</key>
		<dict>
			<key>location</key>
			<dict>
				<key>lng</key>
				<integer>0</integer>
				<key>lat</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>formatted_phone_number</key>
		<string>(00) 1234-4568</string>
		<key>formatted_address</key>
		<string>Test Street, 100</string>
		<key>website</key>
		<string>https://www.testwebsite.com</string>
		<key>place-id</key>
		<string>abcd1234efgh</string>
		<key>rating</key>
		<string>1.2</string>
		<key>name</key>
		<string>test-name</string>
	</dict>
</dict>
</plist>
